<div class="flex flex-col  bg-black p-16 gap-3 rounded-xl relative text-white">
    <span class="flex justify-center w-full"><img class="w-[200px] h-[200px] " [src]="product().image"/></span>
    <span><p class="text-green-500 font-bold">{{product().name}}</p></span>
    <span><p>R {{product().price}}</p></span>
    <app-primary-button (click)="productServie.addToCart(product())" label="Add to Cart"/>

    <span class="absolute top-3 right-5" [class]="product().stock ? 'text-green-500' : 'text-red-500'">
        @if(product().stock)
        {
            <p class="font-bold">{{product().stock}} left</p>
        }
        @else {
            <p class="font-bold">Out of stock</p>
        }
    </span>
</div>